body{
    display: flex;
    flex-direction: column;
    background-image: -webkit-linear-gradient(65deg, rgb(96, 145, 189), white);
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

h3{
    width: 240px;
    text-align: center;
}

p{
    margin-top: -5px;
    text-align: center;
    color: gray;
}

img{
    width: 300px;
    border-radius: 20px;
}

.attribution{
    margin-top: 30px;
}